body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
  background-color: black;
  padding: 20px auto;
  color: white;
}

.d-block {
  width: 100%;
  opacity: 0.5;
  height: auto;
}

.title {
  text-align: center;
  font-family: 'Cormorant SC', serif;
  font-size: 50px;
  color: blue;
  text-shadow: 2px 2px black;
  text-decoration: none;
}

h1 {
  font-weight: 700px;
}

h1,
span {
  color: blue;
  font-family: 'Cormorant SC', serif;
  font-weight: bolder;
}

.main-title {
  font-weight: bold;
}

.w3-bar {
  width: 100%;
  font-size: 25px;
}

.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: center;
  width: auto;
  border: none;
  display: flex;
  outline: 0;
}

.w3-top,
.w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.cover-title {
  border-radius: 50px;
  border: solid 3px white;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 30px;

}

.navbar-nav {
  font-size: x-large;
  text-decoration: none;
}


/* SERVICES */

.container-therapy {
  margin-top: 100px;
  background-color: black;
  position: relative;
  text-align-last: center;
  background: rgb(11, 5, 16);
  background: linear-gradient(90deg, rgba(11, 5, 16, 1) 0%, rgba(254, 41, 85, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.card-img-overlay {
  position: absolute;
}

.card {
  margin: 40px;
  background: transparent;
}